<%= form_for([@truck, @trip]) do |f| %>
  <% if @trip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@trip.errors.count, "error") %> prohibited this trip from being saved:</h2>

      <ul>
      <% @trip.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<br>
<div class="panel panel-default test" style="width: 60%;">
  <div align="center" class="panel-heading"> ทะเบียน: <%=@truck.plate %></div>
  <div class="jumbotron">
    <div class="panel-body">
      <div align="center">
        <%= f.date_select :trip_date , {:use_month_names => ['มกราคา', 'กุมพาพันธ์', 'มีนาคม', 'เมษายน', 'พฤษภาคม', 'มิถุนายน', 'กรกฎาคม', 'สิงหาคม', 'กันยายน', 'ตุลาคม', 'พฤศจิกายน','ธันวาคม']} %>
      </div>
      <br>
      <br>

      <!-- <div class="col-xs-2">
          <label>สองขา</label>
          <input type="checkbox" value="1" name="trip[trip_type]" id="trip_trip_type">
      </div> -->

      <div class="col-xs-5">
          <label>&nbspพนักงานขับรถ</label>
          <input type="text" name="trip[driver]" class="form-control" id="trip_driver" >
          <br>
          <label>&nbspน้ำมัน(ลิตร)</label>
          <input type="text" name="trip[liter]" class="form-control" id="trip_liter" >
          <br>
          <label>&nbspน้ำหนัก(ตัน)</label>
          <input type="text" name="trip[weight]" class="form-control" id="trip_weight" >
          <br>
          <label>&nbspชนิดปูน</label>
          <input type="text" name="trip[cement]" class="form-control" id="trip_cement">
      </div>



        <%= f.text_field :distance %>

        <%= f.text_field :average %>

        <%= f.text_field :destination %>
      </div>
        <br>
        <div class= "actions" align="center">
          <button type="submit" name="commit" class="btn btn-success">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbspเพิ่มเที่ยว
          </button>

          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
