<p id="notice"><%= notice %></p>

<p>
  <strong>Plate:</strong>
  <%= @truck.plate %>
</p>

<p>
  <strong>Bulker:</strong>
  <%= @truck.bulker %>
</p>

<%= link_to 'Edit', edit_truck_path(@truck) %> |
<%= link_to 'Back', trucks_path %>
